.dropdown{
    min-width: 130px;

    user-select: none;
    margin: 100px auto;
    position: relative;
    padding: 6px;
    
}

.dropdown .dropdown-btn{
    padding: 15px 5px;
    background: #fff;
    font-weight: 500;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown .dropdown-content{
    position: absolute;
    top: 110%;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 100%;
    left: 0;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown .dropdown-content .dropdown-item{
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover{
    background: #e4e4e4;
}

.dropdown-highlighted-item{
    color: #ff681a;
    font-weight: 500;
}