@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.navheader{
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(6px 6px 8px rgba(80,80,80,0.2));
}

.fixed-nav-bar { 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
  height: 85px;
}

.logo{
  display: flex;
  color: white;
  font-size: 1.5rem;
  border: none;
  background:  #ff681a;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 85px;
  text-decoration: none;
}
.logo:hover{
  cursor: pointer;
  color: white;
}

.section{
  width: 100%;
}

.navtop{
  display: flex;
  background-color: #303030;
  color: white;
  height: 30px;
  align-items: center;
  justify-content: right;
}

.top-buttons{
  display: inline-flex;
  align-items: center;
  justify-content: right;
  margin-right: 10px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}


.icn{
  background-color: transparent;
  margin-right: 10px;
}

.login-icn{
  background-color: transparent;
  margin-right: 3px;
  margin-left: 10px;
}


.bottom{
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.main-nav{
  width: 100%;
}

.navbar-link{
  border: none;
  border-right: 2px solid #E0E0E0;
  height: 55px;
  background:  white;
  color: #303030;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-link:hover{
  color: #ff681a;
  transition: .3s;
  cursor: pointer;
}

.menu{
  border: none;
  height: 55px;
  max-width: 55px !important;
  min-width: 55px;
  color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: white;
}
.menu:hover{
  cursor: pointer;
  color: #ff681a;
  transition: .3s;
}

.changeColor {
  color: black;
}
.changeColor:hover {
  color: #ff681a;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.auth-modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile-link{
  border: none;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.profile-link:hover{
  transition: .3s;
  color: white;
  cursor: pointer;
  
}

.profile-txt{
  min-width:fit-content;
  padding-left: 5px;
}

