.nav-dropdown{
    min-width: 15%;
    user-select: none;
    margin-top: 2.5%;
    position: absolute;
    padding: 6px;
    
}

.nav-dropdown .nav-dropdown-content{
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    top: 110%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-weight: 400;
    color: black;
    width: 100%;
    left: 0;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#nav-drop-icn{
    margin-right: 10px;
}

.nav-dropdown-btn{
    border: none;
    padding: 10px 25px;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.nav-dropdown-btn:hover{
    background: #e4e4e4;
}