.profile-dropdown{
    min-width: 15%;
    /* margin-right: 10px; */
    right: 0;
    margin-top: 1.1%;
    user-select: none;
    position: absolute;
    padding: 6px;
    
}

.profile-dropdown .profile-dropdown-content{
    /* padding-top: 15px;
    padding-bottom: 15px; */
    position: absolute;
    top: 110%;
    
    /* opacity: 80%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-weight: 400;
    color: white;
    width: 100%;
    /* left: 0; */
    /* border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px; */
}

#profile-drop-icn{
    margin-right: 10px;
}

.profile-dropdown-btn{
    border: none;
    padding: 10px 25px;
    background: #303030;
    border-radius: 0%;
    color: #eee;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.profile-dropdown-btn:hover{
    background: #505050;
    border-radius: 0%;
}