
.tabs{
  width: 300px;
  margin-left: 0 !important;

}


.tab{
  color:#ff681a;
  border: none;
  font-size: 1rem;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

.tab:hover{
  background-color: #ddd;
}

.tab:active{
  background-color: #ddd;
}