.main {
  text-align: center;
  align-items: center;
  
  width: 300px;
}

.auth-modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}



.overlay {
    background: rgba(49,49,49,0.8);
}
.modalContainer {
    max-width: 300px;
    background-color: white;
    z-index: 10000;
}



.main form,
.main .details {
  width: 300px;
  padding: 15px;
  text-align: center;
  background-color: transparent;
}

.main .details > div {
  font-weight: 200;
}

.main .details > h3 {
  padding-bottom: 0px;
}

#log-user {
  width: 250px;
  border: 1px solid #ddd;
  margin-bottom: 7px;
}

#log-pass{
  border: none;
  width: 222px;
  padding-left: 6px;
}

input{
  padding: 7px;
}

input:focus {
	outline: none;
}

#icn-eye{
  margin-right: 5px;
  cursor: pointer;
}

#pass-wrapper{
  margin-left: 10px;
  width: 250px;
  border: 1px solid #ddd;
  margin-bottom: 7px;
}


.btn-reg {
  background-color: #ff681a;
  border: 0;
  color: white;
  font-weight: 600;
  width: 250px;
  padding: 10px;
  margin: 5px;
}


.errorMsg {
  padding: 5px;
  margin: 0px;
  font-size: 11px;
  color: #ff681a;
}